@font-face {
    font-family: ClearSans;
    src: url(ClearSans.ttf);
}

body {
    display: flex;
    align-items: center;
    background-color: rgb(0, 11, 31);
    color: white;
    margin: 0 10%;
    padding: 0;
    height: 100vh;
    font-family: ClearSans, Arial, Helvetica, sans-serif;
}

.left-cont,
.right-cont {
    display: flex;
    height: 100%; /*NEED TO CLAMP LATER*/
}

.left-cont {
    flex-direction: column;
    justify-content: space-between;
    background: no-repeat url("neo-tokyo.jpg");
    background-size: cover;
    background-position: 90%;
    margin: 0;
    padding: 0;
    flex: 1 1 0;
    width: 100%;
}

.title-banner-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 10rem;
    top: 40%;
    position: relative;
    font-size: clamp(2rem, 3vw, 3rem);
    padding: 0 1rem;
}

#icon {
    margin: 0 1.5rem;
}

.footer {
    text-align: center;
    position: relative;
    bottom: 0;
    font-size: 0.75rem;
    padding: 0.5rem;
}

.right-cont {
    flex-direction: column;
    justify-content: center;
    flex: 2 0 0;
    background-color: rgb(0, 35, 95);
    font-size: clamp(1.25rem, 1vw, 2.5rem);
}

.top-message {
    margin: 3rem 0 3rem 2rem;
    width: 75%;
}

.form-cont {
    background-color: rgb(0, 59, 126);
    display: flex;
    width: 100%;
    box-shadow: 0px 3px 3px rgb(0, 5, 32);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: calc(2*20rem + 5rem);
    margin: 0 2rem;
}


legend {
    color: orange;
    width: 100%;
    font-weight: 900;
}

.field {
    margin: 1rem 0;
}

input,
textarea {
    height: 2rem;
    width: clamp(10rem, 20rem, 30vw);
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px;
    margin: 0;
    font-size: 1rem;
}

input:focus,
textarea:focus {
    outline-style: solid;
    outline-color: #0099ff;
    outline-width: 2px;
}

input:required:invalid {
    border: 2px solid rgb(221, 0, 0);
}

input:placeholder-shown:invalid {
    border: 1px solid #999;
}

input:valid {
    border: 2px solid #00df89;
}

textarea {
    vertical-align: top;
    height: 5rem;
}

span {
    color: red;
}

.pwd-msg {
    font-size: 0.75rem;
    color: #999;
}

.submit-account {
    margin: 2rem 2rem;
    font-size: 1rem;
}

button {
    background-color: rgb(212, 138, 0);
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    color: white;
    font-weight: 900;
    border: 1px solid rgb(0, 5, 32);
    border-radius: 0.25rem;
    box-shadow: 2px 1px 1px rgb(0, 5, 32);
}

a {
    color: orange;
}

a:visited {
    color: #0099ff;
}