@font-face {
    font-family: ClearSans;
    src: url(ClearSans.ttf);
}

body {
    display: flex;
    align-items: center;
    background-color: rgb(0, 11, 31);
    color: white;
    margin: 0 10%;
    padding: 0;
    height: 100vh;
    font-family: ClearSans, Arial, Helvetica, sans-serif;
}

.left-cont,
.right-cont {
    display: flex;
    height: 100%; /*NEED TO CLAMP LATER*/
}

.left-cont {
    background: no-repeat url("neo-tokyo.jpg");
    background-size: cover;
    background-position: 100%;
    margin: 0;
    padding: 0;
    flex: 1 1 0;
    width: auto;
}

.title-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 10rem;
    width: 100%;
    top: 30%;
    position: relative;
    font-size: clamp(1rem, 3vw, 3rem);
}

.right-cont {
    flex-direction: column;
    justify-content: center;
    flex: 2 0 0;
    background-color: rgb(0, 35, 95);
    font-size: clamp(1.25rem, 1vw, 2.5rem);
}

.top-message {
    margin: 3rem 0 3rem 2rem;
    width: 75%;
}

.form-cont {
    background-color: rgb(0, 59, 126);
    display: flex;
    width: 100%;
    box-shadow: 0px 5px 5px black;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: calc(2*20rem + 10rem);
    margin-left: 2rem;
}


legend {
    color: orange;
    width: 100%;
    font-weight: 900;
}

.field {
    margin: 1rem 0;
}

input,
textarea {
    height: 2rem;
    width: clamp(10rem, 20rem, 30vw);
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px;
    margin: 0;
    font-size: 1.5rem;
}

input:focus,
textarea:focus {
    border: 1px solid #19c10d;
}

textarea {
    vertical-align: top;
    height: 5rem;
}

span {
    color: red;
}

.submit-account {
    margin: 2rem 2rem;
    /* border: 1px solid red; */
    font-size: 1rem;
}

button {
    background-color: orange;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    color: white;
    font-weight: 900;
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow: 3px 1px 1px black;
}